//  ============================================
//  Module
//  ============================================

img.center {
  display: block;
  margin: 2rem auto;
}

.logo {
  float: left;
  margin: 0 0.5rem 0 0;
  width: 1rem;
}

form {
  margin-top: 2rem;
  input,
  textarea {
    display: block;
    margin: 0 0 1rem 0;
    padding: 0.5rem 0.5rem;
    width: 100%;
    border-radius: 3px;
    background: rgba($cl-white, 0.95);
    font: $fw-default $fs-default $ff-default;
    transition: 0.1s;
    -webkit-appearance: none;
    &:focus {
      background: $cl-white;
      box-shadow: inset 0 0 0 1px $cl-primary;
    }
  }
  textarea {
    height: 8rem;
    resize: none;
  }
}

.button {
  display: block;
  padding: 0.5rem 4rem;
  width: auto;
  background: $cl-primary;
  color: $cl-dark-gray;
  font: $fw-semibold $fs-default $ff-default;
  cursor: pointer;
  transition: 0.1s;
  &:hover,
  &:focus {
    background: adjust-color($cl-primary, $lightness: 20%, $saturation: 0%);
  }
}
