//  ============================================
//  Variables
//  ============================================

//  Typography
// ---------------------------------------------

// Font Stacks
$ff-sans: helvetica;
$ff-slab: 'museo-slab', helvetica;
$ff-default: $ff-slab;

// Font Sizes
$fs-extra-extra-large: 5.063rem;
$fs-extra-large: 3.374rem;
$fs-large: 2.25rem;
$fs-medium: 1.5rem;
$fs-default: 1rem;
$fs-small: 0.75rem;

// Font Weights
$fw-light: 100;
$fw-default: 300;
$fw-medium: 500;
$fw-semibold: 700;

//  Colors
// ---------------------------------------------

// Base Colors
$cl-primary: #FFCC00;

// Common Colors
$cl-white: #fafafa;
$cl-light-gray: #6b6b6b;
$cl-gray: #3b3b3b;
$cl-dark-gray: #17181a;
